src/main/resources/prenotazione_trasporto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="null.wsdl" xmlns:xsd1="null.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="null.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="null.xsd" xmlns:sch="null.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="indirizzo"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="cap" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="comune" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="civico" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="provincia" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="via" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="richiesta"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="luoghi"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="arrivo" type="sch:indirizzo"/><xs:element maxOccurs="1" minOccurs="1" name="partenza" type="sch:indirizzo"/></xs:sequence></xs:complexType></xs:element><xs:element maxOccurs="1" minOccurs="1" name="data"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="anno" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="giorno" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="mese" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element maxOccurs="1" minOccurs="1" name="ora"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="hh" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="mm" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="dati_richiesta">
    <wsdl:part name="body" element="xsd1:richiesta"/>
  </wsdl:message>
  <wsdl:portType name="NoleggioPort">
    <wsdl:operation name="richiesta">
      <wsdl:input message="tns:dati_richiesta"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NoleggioPortSOAPBinding" type="tns:NoleggioPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="richiesta">
      <soap:operation soapAction="richiesta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NoleggioPortService">
    <wsdl:port name="NoleggioPortServicePort" binding="tns:NoleggioPortSOAPBinding">
      <soap:address location="http://0.0.0.0:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
